@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.sora {
  font-family: "Sora", sans-serif;
}

* {
  max-width: 1300px;
  margin: 0 auto;
}

